@import "tailwindcss";
*{
    font-family: "Lora", serif;
    font-weight: 500;
}

.hero-swiper,
.swiper-slide {
  width: 100%;
  height: 100vh;
}

 .hero-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position:center;
   position: relative; 
  display: flex;
  align-items: center;
  padding: 0 80px;
} 

/* Dark overlay for readability */
.hero-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.overlay {
  position: relative;
  z-index: 2;
  max-width: 600px;
  color: white;
}

.overlay h1 {
  font-size: 5rem;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 1.3rem;
}